/* HEADER SECTION */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--tint-one);
  height: 9.6rem;
  /* Sticky header -> fixed height */
  padding: 0 4.8rem;
  position: relative;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: var(--dark-color);
  font-weight: 500;
  font-size: 1.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: var(--dark-color);
  font-weight: 500;
  font-size: 1.8rem;
  transition: color 0.3s;
  display: inline-block;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--primary-color);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: var(--primary-color);
  transition: background-color 0.3s;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: var(--shade-one);
}

/* MOBILE NAV */

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
  z-index: 1000;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: var(--dark-color);
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 20;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/* HERO SECTION */

.section-hero {
  background-color: var(--tint-one);
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  max-width: 130rem;
  margin: 0 auto;
  align-items: center;
  padding: 0 3.2rem;
}

.hero-desc {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  margin-top: 8rem;
  align-items: center;
  gap: 1.6rem;
}

.delivered-img {
  display: flex
}

.delivered-img img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid var(--tint-one);
}

.delivered-img img:last-child {
  margin-right: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 500;
}

.delivered-text span {
  color: var(--primary-color);
  font-weight: 700;
}

/* FEATURED IN SECTION */

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
  background-color: var();
}

.heading-featured {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #767676;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 60%;
  transition: opacity 0.2s;
}

.logos img:hover {
  opacity: 75%;
}

/* HOW IT WORKS SECTION */

.section-how {
  padding: 9.6rem 0;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.step-img-box::before {
  width: 60%;
  /* height: 60%; */
  padding-bottom: 60%;
  background-color: var(--tint-one);
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: var(--tint-two);
  z-index: -1;
}

.step-img {
  width: 33%;
}

.step-number {
  font-size: 9.8rem;
  font-weight: 600;
  color: #999;
  margin-bottom: 1.2rem;
}

.step-desc {
  font-size: 1.8rem;
  line-height: 1.8;
}

/* MEALS SECTION */

.section-meals {
  padding: 9.6rem 0;
}

.meals {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.08);
  border-radius: 11px;
  overflow: hidden;
  /* padding: 4.8rem; */
  transition: transform 0.4s, box-shadow 0.4s;
}

.meals:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.07);
}

.meals-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.5rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
  cursor: pointer;
}

.tag--1 {
  background-color: #51cf66;
}

.tag--2 {
  background-color: #94d82d;
}

.tag--3 {
  background-color: #ffd43b;
}

.meal-name {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-desc {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-img {
  width: 100%;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: var(--primary-color);
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

/* TESTIMONIALS SECTION */

.section-testimonials {
  background-color: var(--tint-one);
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: transform 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/* PRICING SECTION */

.section-pricing {
  padding: 9.6rem 0;
}

.pricing-plan {
  border-radius: 1.1rem;
  width: 75%;
}

.plan--starter {
  justify-self: end;
  border: 2px solid var(--tint-one);
  padding: 4.6rem;
}

.plan--complete {
  background-color: var(--tint-one);
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}

.plan--complete::after {
  content: 'Best Value';
  text-transform: uppercase;
  position: absolute;
  top: 6%;
  right: -18%;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: #94d82d;
  padding: 0.8rem 8rem;
  color: #333;
  transform: rotate(45deg);
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  color: var(--shade-one);
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}

.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: var(--dark-color);
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--gray2-color);
}

.plan-btn {
  margin-top: 4.8rem;
  text-align: center;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

.feature-icon {
  color: var(--primary-color);
  height: 3.2rem;
  width: 3.2rem;
  margin-bottom: 3.2rem;
  background-color: var(--tint-one);
  padding: 1.6rem;
  border-radius: 50%;
}

.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/* CTA SECTION */

.section-cta {
  padding: 4.8rem 0 12.8rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* background-color: var(--primary-color); */
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 1.2rem;
  background-image: linear-gradient(to right, var(--primary-color), var(--tint-three));
  overflow: hidden;
}

.cta-textbox {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: var(--shade-three);
}

.cta-textbox .header-secondary {
  color: inherit;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-imagebox {
  background-image: url('../img/eating.jpg');
  background-size: cover;
  background-position: center;
  opacity: .7;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  border: none;
  background-color: var(--tint-one);
  border-radius: .9rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  color: inherit;
}

.cta-form input::placeholder {
  color: #888;
}

.cta *:focus {
  box-shadow: 0 0 0 0.4rem var(--tint-two);
}

/* FOOTER SECTION */

.footer {
  padding: 12.8rem 0;
  border-top: 2px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.footer-logo img {
  filter: saturate(0);
  transition: filter .2s;
}

.footer-logo img:hover {
  filter: saturate(1)
}

.socials {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  color: #767676;
  line-height: 1.6;
  margin-top: auto;
}

.footer-header {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all .2s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}